footer{
    background-color: #2196F3;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: white;
    .web_link{
        color: white;
        text-decoration: none;
    }
}