h2{
  text-align: center;
  text-rendering: optimizeLegibility;
  &.title_text {
  	text-transform: uppercase;
    color: #2196F3;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #000;
  }
}
.showcase_card {
	.mdl-card__title{
		color: #fff;
		background-color: #2196F3;	
	}
}

.showcase_card{
	transition: all .2s ease 0s;
	top: 0px;
	display: inline-block;
}
.showcase_card:hover{
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
	top: -3px;
}
.showcase_card_footer{
	text-align: center;
	.web_link{
        color: #2196F3;
        text-decoration: none;
        font-size: 20px;
        line-height: 1.8;
    }
    .icon_list { transition: all .2s ease-in-out; }
    .icon_list:hover {
        transform: scale(1.3);  
    }
}
