<div class="mdl-grid container" ng-repeat="showcase in vm.data">
  <div class="mdl-cell mdl-cell--3-col mdl-layout--large-screen-only"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone showcase_content">

  <h2 class="title_text">{{showcase.category_name}}</h2>
    
    <div class="mdl-cell showcase_card mdl-card mdl-shadow--1dp" ng-repeat="category in showcase.category_showcase">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">{{category.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      
      {{category.description}}
    </div>
    <div class="mdl-card__actions mdl-card--border showcase_card_footer">
      <a class="web_link" href="{{category.web_url}}" target="_blank"><i class="zmdi zmdi-link zmdi-hc-2x icon_list"></i></a>
    </div>
    </div>

    


  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
</div>