.page-content{
    padding: 10px 50px 70px 50px;
}
.toolbar_image{
    border-radius : 50px;
    height: 60px;
    width:60px;
}
.sidebar_image{
    border-radius : 50px;
    height: 50%;
    width:80%;
}
