<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" layout="row" layout-align="space-around center">
        <img class="toolbar_image mdl-layout--large-screen-only" ng-src="../../assets/img/user/user.png" ui-sref="home">
        <span translate="TOOLBAR.TITLE"><b>Ü're Awesome!!</b></span>
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <md-button  ui-sref="ability" translate="TOOLBAR.ABILITY">ABILITY</md-button>
        <md-button  ui-sref="tools" translate="TOOLBAR.TOOLS">TOOLS</md-button>
        <md-button  ui-sref="works" translate="TOOLBAR.WORKS">WORKS</md-button>
        <md-button  ui-sref="contact" translate="TOOLBAR.CONTACT">CONTACT</md-button>
      </nav>
      <nav class="mdl-navigation">
          <md-button id="demo-menu-lower-right" class="md-raised">
              <div layout="row" layout-align="center center">
                <img class="flag" ng-src="../../assets/img/flags/{{selectedLanguage.flag}}.png">
                <span class="iso">{{selectedLanguage.code}}</span>
              </div>
              </md-button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li class="mdl-menu__item" ng-repeat="(iso, lang) in languages" ng-click="changeLanguage(lang)" translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="../../assets/img/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
              </li>
            </ul>
        

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" layout="row" layout-align="center center"><img class="sidebar_image" ng-src="../../assets/img/user/user.png" ui-sref="home"></span>
    <nav class="mdl-navigation">
        <md-button class="md-raised md-primary" ui-sref="skills" translate="TOOLBAR.SKILLS">SKILLS</md-button>
        <md-button class="md-raised md-primary" ui-sref="tools" translate="TOOLBAR.TOOLS">TOOLS</md-button>
        <md-button class="md-raised md-primary" ui-sref="works" translate="TOOLBAR.WORKS">WORKS</md-button>
        <md-button class="md-raised md-primary" ui-sref="contact" translate="TOOLBAR.CONTACT">CONTACT</md-button>
    </nav>
  </div>
  <main class="mdl-layout__content" flex>
    <div ui-view class="page-content"></div>
  </main>
</div>
