/*html, body {
	font-family: 'Shadows Into Light', cursive;
	font-color: white;
}*/
body{
    background-color: #ffffff;
}
#hire_me{
	position: fixed;
    bottom: 30px;
    right: 50px;
	
	/*top: 120px;
    right: 50px;*/
    /*top: 120px;
    right: 150px;*/

	/*top: 25%;
    right: 10%;*/

    z-index: 2;
}