.contact_content{
	display: inline-block;
}
.contact_card.mdl-card {
  height: 100%;
  display: inline-block;
}
.contact_card > .mdl-card__title {
  color: #fff;
  height: 80px;
  background-color: #2196F3;
}
.contact_card > .mdl-card__menu {
  color: #fff;
}

.contact_icons{
	color: #2196F3;
}

@media screen and (min-width: 480px) {
    .contact_card.mdl-card {
        width: 47%;
    }
}

.web_link{
        color: #2196F3;
        text-decoration: none;
        font-size: 20px;
        line-height: 1.8;
    }
    i { transition: all .2s ease-in-out; }
    i:hover {
        transform: scale(1.3);  
    }