<!-- <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-layout--large-screen-only">
  	<img class="contact_svg_icon" ng-src="assets/img/icons/telephone.svg">
    </div>
  <div class="mdl-cell mdl-cell--8-col intro_content" md-whiteframe="4">
  	<div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-phone contact_grid" layout-gt-xs> -->
        
		        <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">Get In Touch</h2>
		  </div>
		  <div class="mdl-card__supporting-text">

		  	<form>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="text" id="name" required>
			    <label class="mdl-textfield__label" for="name">Name</label>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="email" id="email" required>
			    <label class="mdl-textfield__label" for="email">Email</label>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="tel" id="tel" required>
			    <label class="mdl-textfield__label" for="tel">Phone</label>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
			    <label class="mdl-textfield__label" for="message">Message</label>
			  </div>
			</form>

		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		      Send
		    </a>
		  </div>
		</div> -->


<!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">TWEETS<a href="https://twitter.com/ayush_da" class="twitter-follow-button" data-show-count="false">Follow @ayush_da</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></h2>
		  </div>

		  <div class="mdl-card__supporting-text">

		  	<a class="twitter-timeline" href="https://twitter.com/ayush_da">Tweets by ayush_da</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		  	
		  </div>

		</div> -->




    <!-- </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
</div> -->






<div class="mdl-grid container">
  <div class="mdl-cell mdl-cell--3-col mdl-layout--large-screen-only"></div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone contact_content">









<div class="mdl-cell contact_card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Get In Touch ?</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <!-- Simple Textfield -->
       <form name="getInTouchForm" ng-submit="" novalidate>

       		<div ng-messages="" ng-show="getInTouchForm.$submitted" role="alert" multiple>
                <div ng-message="unprocessable">
                    <span translate=""></span>
                </div>
            </div>

       		<md-input-container class="md-block">
       		 <md-icon class="contact_icons">face</md-icon>

                <input type="text" name="name" ng-model="vm.name" placeholder="Name" required>
                <div ng-messages="getInTouchForm.name.$error" role="alert" multiple>
                    <div ng-message="required">
                        <span>Name is required</span>
                    </div>
                </div>
            </md-input-container>
  			<md-input-container class="md-block">
  			<md-icon class="contact_icons">email</md-icon>
                <input type="email" name="email" ng-model="vm.email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="getInTouchForm.email.$error" role="alert" multiple>
                    <div ng-message="required">
                        <span>Email is required</span>
                    </div>
                    <div ng-message="pattern">
                        <span >Email must be a valid e-mail address</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
            <md-icon class="contact_icons">phone</md-icon>
                <input type="tel" name="tel" ng-model="vm.phone" placeholder="Phone number" required>
                <div ng-messages="getInTouchForm.tel.$error" role="alert" multiple>
                    <div ng-message="required">
                        <span>Phone number is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
            <md-icon class="contact_icons">message</md-icon>
                <textarea name="message" ng-model="vm.message" rows="5" placeholder="Message" required></textarea>
                <div ng-messages="getInTouchForm.message.$error" role="alert" multiple>
                    <div ng-message="required">
                        <span>Message is required</span>
                    </div>
                </div>
            </md-input-container>
</form>

  </div>
  <div class="mdl-card__actions mdl-card--border" layout="row" layout-align="end center">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Send 
    </button>
  </div>
  <!-- <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div> -->
</div>





<div class="mdl-cell contact_card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Get In Touch ?</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <!-- Simple Textfield -->
       <form name="getInTouchForm" ng-submit="" novalidate>
       
       	<div ng-messages="" ng-show="getInTouchForm.$submitted" role="alert" multiple>
                            <div ng-message="unprocessable">
                                <span translate=""></span>
                            </div>
                        </div>

			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="text" name="name" id="name" required>
			    <label class="mdl-textfield__label" for="name">Name</label>
			    <div ng-messages="getInTouchForm.name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="">Name is required</span>
                        </div>
                    </div>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="email" name="email" id="email" required>
			    <label class="mdl-textfield__label" for="email">Email</label>
			    <div ng-messages="getInTouchForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="">Email is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="">Email must be a valid e-mail address</span>
                        </div>
                    </div>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="tel" name="tel" id="tel" required>
			    <label class="mdl-textfield__label" for="tel">Phone</label>
			    <div ng-messages="getInTouchForm.tel.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="">Phone number is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="">Phone number must be a valid phone number</span>
                        </div>
                    </div>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
			    <label class="mdl-textfield__label" for="message">Message</label>
			  </div>
			</form>

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <!-- <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div> -->
</div>




  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
</div>