<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
  <div class="mdl-cell mdl-cell--10-col intro_content">

  	<h4 class="title_text"><span class="scramble"></span><span ng-bind-html="vm.smiley | emoji"></span></h4>
    
<div class="title_para">
<div layout="row" layout-align="center center" class="mdl-layout--large-screen-only">
  <div>

  <h4 class="side_text" ng-repeat="left in vm.details.para_one">{{left.title}}</h4>
  
  </div>

  <div><img class="user_image" ng-src="{{vm.image_url}}" /></div>
  
  <div>
  
  <h4 class="side_text" ng-repeat="right in vm.details.para_two">{{right.title}}</h4>
  

  </div>
</div>


<div layout="column" layout-align="center center" class="mdl-layout--small-screen-only">
  
  <div><img class="user_image" ng-src="{{vm.image_url}}" /></div>

  <div><h4 class="side_text" ng-repeat="para in vm.details.small_screen_para">{{para.title}}</h4></div>

</div>

</div>

  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
</div>