.intro_content{
	padding: 10px 10px 10px 10px;
}
h4{
  text-align: center;
  text-rendering: optimizeLegibility;
  &.title_text {
  	text-transform: uppercase;
    color: #2196F3;
    letter-spacing: .4em;
    text-shadow: -1px -1px 1px #000, 2px 2px 1px #000;
  }
}